@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SansitaOne';
  src: url('./../fonts/SansitaOne.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --border-weight: 0.4rem;

  --amarelo: #ffbe0b;
  --laranja: #fb5607;
  --rosa: #ff006e;
  --rosa-escuro: #d3005b;
  --roxo: #8338ec;
  --azul: #3a86ff;
  --azul-escuro: #003049;
  --verde: #7ed957;
  --vermelho: #d62828;
  --cinza-claro: #d9d9d9;
  --branco: #fefefe;
  --preto: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: SansitaOne;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--azul-escuro);
  font-family: 'Sansita One', sans-serif;
}

.container-amarelo {
  border: var(--border-weight) solid var(--preto);
  background-color: var(--amarelo);
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 0.4rem, transparent 6px);
  background-size: 3rem 3rem;
  color: var(--preto);
}

.container-rosa {
  border: var(--border-weight) solid var(--preto);
  background-color: var(--rosa);
  background-image: linear-gradient(-45deg, var(--rosa-escuro) 25%, transparent 25%, transparent 50%, var(--rosa-escuro) 50%, var(--rosa-escuro) 75%, transparent 75%, transparent);
  background-size: 4rem 4rem;
  color: var(--preto);
}

.container-azul {
  border: var(--border-weight) solid var(--preto);
  background-color: var(--azul);
  color: var(--preto);
}

.janela-branca {
  display: flex;
  flex-direction: column;

  margin: 5rem 0 0 0;
  padding: 1rem 3rem;
  color: var(--preto);
  background-color: var(--branco);
  box-shadow:
    1rem 1rem 0 var(--cinza-claro), /* Sombra lateral esquerda da janela */
    0px -2.5rem 0px calc((-1) *var(--border-weight)) var(--laranja), /* Borda superior da janela */
    0px -2.5rem 0 0px var(--preto);
  border: var(--border-weight) solid var(--preto);
}

.caixa-rosa {
  padding: 2rem 2.5rem;
  margin: 0 0 7rem 0;
  background-color: var(--rosa);
  border: var(--border-weight) solid var(--preto);
  box-shadow:
    2rem 2rem 0 0 var(--branco),
    2rem 2rem 0 var(--border-weight) var(--preto);
  color: var(--preto);
}

.titulo-rosa {
  padding: 2rem 2.5rem;
  margin: 0 0 2rem 0;
  background-color: var(--rosa);
  border: var(--border-weight) solid var(--preto);
  font-size: clamp(32px, 2vw, 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.icon-arrow-down {
  font-size: 5rem;
}

#icon-calendar {
  font-size: 7rem;
}

#icon-coffee {
  font-size: 7rem;
}

#dev {
  color: white;
  padding: 1rem;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: clamp(300px, 45vw, 750px);
}

.carousel-description {
  margin: 2rem 0rem;
  text-align: center;
  /* font-size: 1.5vw; */
  font-size: clamp(24px, 2vw, 32px);
}

.carousel-button img {
  width: clamp(50px, 5vw, 70px);
}

.cards {
  width: clamp(250px, 20vw, 350px);
  height: clamp(350px, 25vw, 450px);
}

.calendar-icon {
  width: 100px;
}

.calendar-text {
  font-size: clamp(24px, 3vw, 32px);
}

.calendar-text strong {
  font-size: clamp(32px, 4vw, 56px);
}